@font-face {
    font-family: 'Bornomala-Regular';
    src:url('Bornomala-Regular.woff') format('woff'), 
        url('Bornomala-Regular.woff2') format('woff2'),
        url('Bornomala-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }