@font-face {
    font-family: 'Lima-Bosonto';
    src:url('LimaBosontoBE-Regular.woff') format('woff'), 
        url('LimaBosontoBE-Regular.woff2') format('woff2'),
        url('LimaBosontoBE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }